body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Anton', sans-serif;
}

/////theme-switcher/////
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
}


.theme-switcher {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
  margin-top: -10px;
}

.theme-switcher:hover {
  background-color: #555;
}

/////theme-switcher/////


/////movies-card/////
.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  padding: 20px;
}

.movie-card {
  background-color: #222;
  color: white;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-info {
  margin-top: 10px;
  font-size: 14px;
}

.movie-info h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/////movies-card/////

/////pagination/////
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #b20710;
}

.pagination button:disabled {
  background-color: #333;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 18px;
}

/////pagination/////


/////header/////

.header h1 {
  color: #fb0003;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  color: white;
}

.header span {
  background: #e50914;
  border-radius: 25px;
  padding: 10px;
  margin-right: 5px;
  color: white;
}

.header:hover {
  transition: transform 0.3s;
  transform: scale(1.01);
}

/////header/////
.genre-badge:hover {
  transition: transform 0.3s;
  transform: scale(1.03);
}

/////poster-preview/////
.poster-preview {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s;
}

.poster-preview:hover {
  transform: scale(1.05);
}

/////poster-preview/////


/////stars-rating/////
.stars-rating {
  display: flex;
  font-size: 18px;
  color: #ffcc00;
  margin: 5px 0;
}

.star {
  font-size: 20px;
  color: #ffd700;
}

.star.empty {
  color: #555;
}

/////stars-rating/////


/////genre-badge/////
.genre-badge {
  display: inline-block;
  padding: 6px 12px;
  margin: 4px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #b20710;
  text-transform: capitalize;
  text-align: center;
}

/////genre-badge/////


/////navbar/////
.navbar {
  background-color: #141414;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Anton', sans-serif;
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  color: #fb0003;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-link:hover {
  background-color: #333;
}

/////navbar/////

a {
  text-decoration: none;
}


/////search-cont/////
.search-container input {
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 20px;
  background-color: #141414;
  color: #fff;
  width: 300px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.search-container input:focus {
  border-color: #e50914;
}

/////search-cont/////


/////about-page/////
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.about-page h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fb0003;
  text-shadow: 2px 2px 4px rgba(99, 99, 99, 0.6);
}

.about-page p {
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 700px;
  margin: 0 auto;
  color: #dcdcdc;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.about-page p strong {
  color: #fb0003;
}

.about-page a {
  color: #fb0003;
  text-decoration: none;
  font-weight: bold;
}

.about-page a:hover {
  color: #fb0003;
  text-decoration: underline;
}

/////about-page/////


/////footer/////
.footer {
  color: #757575;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;

}

.footer a {
  color: #757575;
  text-decoration: none;
  padding: 5px;

}

.footer a:hover {
  text-decoration: underline;
}

.footer-columns {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-column {
  flex: 1 1 200px;
  text-align: left;
}

.footer-column a {
  display: block;
  margin: 5px 0;
}

.footer-language-selector {
  margin-top: 20px;
}

.footer-language-selector select {
  padding: 5px;
  border: 1px solid #757575;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.footer p {
  margin-top: 20px;
}

/////footer/////


.vote {
  color: white;
}


/////genre-page/////
.genre-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #333;
}

.genre-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.genre-item {
  background-color: #222;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.genre-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/////genre-page/////

.movie-details {
  margin: 20px;
}

.movie-title {
  font-size: 2rem;
  font-weight: bold;
}

.movie-poster img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  margin: 20px 0;
  border: white 3px solid;
}

.movie-info {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.genre-badges {
  margin-top: 20px;
}

/////genre-page/////


/////suggestions/////
.suggestions {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  width: 100%;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}

/////suggestions/////

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

/////auth/////
.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #555555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


button:hover {
  background-color: #fb0003;
}


.auth-form input {
  margin-left: -5px;
}

/////auth/////


/////genre/////
.genre-page {
  text-align: center;
  color: #fff;
  padding: 20px;
  min-height: 100vh;
}

.genres-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
  padding: 0 20px;
}

.genre-item {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.genre-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
}

.genre-item h3 {
  margin: 0;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

/////genre/////

.fool {
  color: #555555;
}



